body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("https://sun9-79.userapi.com/s/v1/if1/hQIQTMhIdzwHYCeB-38_5X27e6tfZRLXBor8NmrFd-5UWaFAEG9vECieFatpnRcHDH2DiQ.jpg?size=1920x1080&quality=96&type=album")center center/cover no-repeat fixed;
    color: brown;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
